/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/06/2017, 23:43:44
    Author     : Bruno
*/

body {
  background-color: #eee;
}

h4 {
	margin: 0;
	margin-bottom: 4px;
}

#divApresentacao {
	background-color: green;
	width: 100%;
	text-align: center;
}

#divLogar {
	background-color: blue;
	width: 48%;
	display:inline-block;
	text-align: center;
	height: 500px;
}

#divCadastrar {
	background-color: red;
	width: 48%;
	height: 500px;
	text-align: center;
	float: right;
}

.btCadastro {
	width: 306px;
	height: 30px;
}

.btEditar {
	width: 100px;
	height: 30px;
}

#divLogin fieldset {
	display:inline;

}

.inputLoginSelect {
	width: 306px;
	height: 30px;
	margin-bottom: 5px;

}

.inputLogin {
	width: 300px;
	height: 25px;
	margin-bottom: 5px;
	padding-left: 3px;
}