<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Gerenciador de TCC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>

    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Gerenciar TCC</a></li>
        </ul>
    </nav>

    <div id="gerenciarTcc">
        <h1>Gerenciador de TCC</h1>
        <p><input class="inputLogin" type="text" placeholder="Aluno"></p>
        <p><input class="inputLogin" type="text" placeholder="Professor"></p>
        <p><input class="inputLogin" type="text" placeholder="Título"></p>
        <p><input class="inputLogin" type="text" placeholder="Tema"></p>
    </div>
</body>
</html>
