#divLogin {
    border: 2px solid black;
    background-color:#636363;
    color: white;
    height: 130px;
}

#divLoginA {
    float: left;
    width: 49%;
    text-align: center;
    
}
#divLoginB {
    float:right;
    width: 49%;
    text-align: center;
}

.inputLogin {
    color: black;
    width: 200px;
}


#divCadastrar {
    text-align: center;
}

#divCadastrarA {
    background-color: #ddd;
    box-shadow: 2px 2px 4px #888888;
    float: left;
    width: 40%;
    height: 300px;
    margin-left: 5%;
}

#divCadastrarB {
    background-color: #ddd;
    box-shadow: 2px 2px 4px #888888;
    float: right;
    width: 40%;
    height: 300px;
    margin-right: 5%;
}

.inputIndex {
    width: 60%;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa; margin: auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-ddj9{background-color:#c0c0c0;color:#000000;text-align:center;vertical-align:top}
.tg .tg-i81m{width:90%;background-color:#ffffff;text-align:center;vertical-align:top; color: black;}

#mostrarTcc {
    text-align: center;
}

#divEditarPerfil {
    background-color: #ddd;
    box-shadow: 2px 2px 4px #888888;
    width: 60%;
    text-align: center;
    margin: auto;
}

.btFormulario {
    width: 60%;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 5px;
    
    color: white; 
    border: none; 
    border-radius: 4px;
}

#divCriarTcc {
    text-align: center;
    background-color: #ddd;
    
}

#divEditarTcc {
    text-align: center;
}

#divSubmeterMonografia {
    text-align: center;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#divAvaliarTcc {
    text-align: center;
}

#divAvaliarTcc textarea {
    width: 60%;
    padding-left: 5px;
    margin-bottom: 5px;
}