/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/06/2017, 23:43:44
    Author     : Bruno
*/

#divEditarPerfil {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: #ccc;
    
}

#divEditarPerfil input, #divEditarPerfil select {
    width: 400px;
    height: 25px;
    
}